:root{
    --primary-color: #ffe4c4;
    --secondary-color: #869f91;
    --third-color:#2f4f4f;
    --background-alternativo:#faebd7cc;
    --border-radius: 0.25rem;
    --box-shadow: 0 4px 8px #0000001a;
    --transition-duration: 0.3s ease;
    --font-size-large: 4rem;
    --font-size-medium: 2.5rem;
    --font-size-small: 1rem;
    --font-size-mini: 0.875rem;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--secondary-color);
    display: block;
    margin-top: 70px;
    height: 100vh;
}

h1 {
    font-size: var(--font-size-large);
    text-align: center;
    color: var(--accent-color);
    width: 100%;
    margin: 10px 0;
}

h2 {
    font-size: var(--font-size-medium);
    color: var(--third-color);
}

h3 {
    color: var(--primary-color);
    font-size: var(--font-size-medium);
    align-self: center;

}

a {
    font-size: var(--font-size-small);
    text-decoration: none;
    color: #869f91;
    font-weight: 400;
    transition: color ;
}

a:hover {
    color: var(--third-color);
}

html {
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    font-size: var(--font-size-base);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: var(--background-alternativo);
    /* background-color: antiquewhite; */
    /* opacity: 0.8; */
    
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 5px;
}

nav .logo {
    width: 80px;
    height: auto;
    margin: 15px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin: 15px;
}

nav li {
    margin: 10 10px;
}

p{
    text-align: justify;
}

/* estilo para el nav class menu */
/* 
.menu{

} */

/* BARRA DE BÚSQUEDA */
/* .buscar-div{
    display: inline;
    width: 600px;
}

.buscar-index{
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    width: 200px;
    height: 25px;
} */

.inicio a:hover,
a:hover {
    color: var(--third-color);
    transform: scale(1.05);
}

.inicio {
    margin: 300px 150px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.destacados-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: var(--third-color);
}

.destacados{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.destacados-section a{
    color:var(--third-color);
}

.productos,
.biografia,
.taller{
    padding: 20px;
}

.productos,
.contacto,
.bio {
    display: flex;
    flex-wrap: wrap;
    /* align-items: stretch; */
}

.productos {
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.contacto {
    justify-content: center;
}

.tarjeta {
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.tarjeta-boton{
    align-self: center;
    margin: 10px;
}

.tarjeta img {
    width: 100%;
    height: auto;
    padding: 0 8px;
    border-radius: 5%;
}

.tarjeta h2 {
    font-size: 25px;
    margin: 0.5em;
    text-align: center;
}

.tarjeta p {
    padding: 0 1em;
    flex-grow: 1;
    margin: 5px 0;
}

.productos a,
.tarjeta a {
    color: var(--primary-color);
}

.tarjeta-reseña i {
    font-size: var(--font-size-mini);
    text-shadow: 
        1px 1px 0 var(--third-color),
        -1px -1px 0 var(--third-color),
        1px -1px 0 var(--third-color),
        -1px 1px 0 var(--third-color),
        1px 0 0 var(--third-color),
        -1px 0 0 var(--third-color),
        0 1px 0 var(--third-color),
        0 -1px 0 var(--third-color)
    ;
}

.tarjeta:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.tarjeta-reseña {
    background-color: var(--background-alternativo);
    color:var(--third-color);
    opacity: 90%;
    width: 70%;
    height: 90%;
}

.tarjeta-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tarjeta-reseña h2 {
    font-size: 1rem;
    margin: 0.5em;
    text-align: left;
}

.tarjeta-reseña p {
    padding: 0 1em;
    margin: 5px 0;
    font-size: var(--font-size-mini);
}

.tarjeta-reseña i {
    color: var(--primary-color);
    margin-right: 0.25rem;
}

.reseñas-section-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1.5fr 1.5fr .5fr;
    gap: 10px;
    padding: 10px;
    justify-items: center;
}

.ver-mas {
    display: flex;
    justify-content: center;
    margin: 10px;
    color:var(--third-color);
}

.item-grid{
    grid-column: 1 / span 3;
    /* background-color: #fff; */
    text-align: center;
}

.reseñas-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 10px;
    justify-items: center;
}

.estrellas{
    padding: 5px;
}

.mensaje-confirmacion {
    display: none;
    background-color: var(--third-color);
    color: white;
    padding: 15px;
    margin-top: 100px;
    position: relative;
    z-index: 1000;
    border-radius: 5px;
}

.toast {
    position: fixed;
    top: 11%;
    right: 2%;
    z-index: 1050;
}
  

.mensaje-carrito-vacio {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.mensaje-carrito-vacio p {
    font-size: 18px;
    color: #333;
}

.mensaje-carrito-vacio a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.mensaje-pago {
    display: none;
    text-align: center;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 5px;
}
  

.titulo{
    padding-top: 30px;
}

.subtitulo{
    display: flex;
    justify-content: center;
    padding: 15px 5px 5px 5px;
    text-align: left;
}

.detalle-carrito {
    display: none;
    margin-top: 20px;
}

.detalle-carrito table {
    width: 100%;
    border-collapse: collapse;
}

.detalle-carrito th, .detalle-carrito td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.detalle-carrito th {
    background-color: #f2f2f2;
}

.total-final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
  
.total-final button {
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.total-final button:hover {
    /* background-color: var(--secondary-color); */
    transform: scale(1.05);
}
  
.acciones-carrito {
    display: flex;
    gap: 10px;
}

.carrito-cantidad {
    position: absolute;
    right: 0.2%;
    background-color: red;
    color: var(--primary-color);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 10px;
    display: none;
}
  

.formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    border: solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    background-color: var(--background-alternativo);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin: 5px;
    font-weight: bold;
    color: var(--third-color);
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #8fbc8f;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--third-color);
    color: var(--primary-color);
    font-size: var(--font-size-small);
    cursor: pointer;
    transition: transform;
}

.contacto button:hover {
    transform: scale(1.02);
    background-color: var(--secondary-color);
}

.productos button:hover,
.destacados button:hover {
    transform: scale(1.02);
    background-color: var(--primary-color);
    color: var(--third-color);
}

.bio{
    justify-content: center;
}

.biografia,
.taller{
    line-height: 1.5;
    max-width: 90vw;
    margin:auto;
}

.biografia img,
.taller img{
    max-width: 100%;
    border-radius:5px;
    margin: 5px;
}

.biografia img{
    float: left;
    margin-right: 15px;
}

.imagenes-taller{
    text-align: center;
}

.form-group.checkbox-group {
    flex-direction: row;
    align-items: center;
}

.checkbox-group label {
    font-weight: normal;
    font-style: italic;
    color: var(--third-color);
    font-size: var(--font-size-mini);
}

.footer {
    background-color: var(--background-alternativo);
    padding: 20px 20px 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    justify-content: center;
    margin: 20px 0 0 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer li {
    display: inline;
}

.footer a {
    text-decoration: none;
    color:#2f4f4f;
    font-size: 24px;
}

.footer a:hover{
    color:var(--secondary-color);
    transform: scale(2);
}

.footer p {
    font-size: var(--font-size-mini);
    color:#2f4f4f;
    opacity: 0.6;
    margin: 5px;
    font-style: italic;
    text-align: center;
}

.footer, .copyright {
    font-size: 12px;
    color: #00000099;
}

/* .search{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-title{
    margin:5px;
} */


