:root{
    --primary-color: #ffe4c4;
    --secondary-color: #869f91;
    --third-color:#2f4f4f;
    --background-alternativo:#faebd7cc;
    --border-radius: 0.25rem;
    --transition-duration: 0.3s ease;
    --font-size-large: 4rem;
    --font-size-medium: 2.5rem;
    --font-size-small: 1rem;
    --font-size-icono: 1.5rem;
    --font-size-mini: 0.9rem;
}

html, body{
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    font-size: var(--font-size-base);
}

body {
    background-color: var(--secondary-color);
    margin-top: 70px;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
}


h1 {
    font-size: var(--font-size-large);
    text-align: center;
    color: var(--accent-color);
    width: 100%;
    margin: 10px 0;
}

h2 {
    font-size: var(--font-size-medium);
    color: var(--third-color);
}

h3 {
    color: var(--primary-color);
    font-size: var(--font-size-medium);
    align-self: center;
}

a {
    font-size: var(--font-size-small);
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    transition: color ;
}

li {
    display: inline;
    list-style: none;
}

label {
    margin: 5px;
    font-weight: bold;
    color: var(--third-color);
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: var(--secondary-color);
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--third-color);
    color: var(--primary-color);
    font-size: var(--font-size-small);
    cursor: pointer;
    transition: transform;
}

button[disabled] {
    background-color: grey;
    color: var(--primary-color);
    cursor: not-allowed;
    opacity: 0.6;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-alternativo);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
}
  
.nav-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 6%;
    height: auto;
    margin: 1% 0 0 1%;
    border-radius: 50%;
}

.logo:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

a.logo-link {
    display: inline-block;
}

a.logo-link img {
    width: 6%;
    height: auto;
    margin: 1% 0 0 1%;
    border-radius: 50%;
}

  
.nav-icons {
    display: flex;
    gap: 2em;
    margin: 0 1% 0 0;
    align-items: center;
}
  
.nav-icons a {
    color: var(--third-color);
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}

.nav-icons a:hover {
    color: var(--third-color);
    transform: scale(1.2);
}
  
.nav-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5%;
}
  
.nav-bottom ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
    margin: 0;
}
  
.nav-bottom li {
    margin: 0;
}
  
.nav-bottom a {
    color: var(--third-color);
    text-decoration: none;
    font-size: 1rem;
}
  
.nav-bottom a:hover {
    color: var(--secondary-color);
}

.barra-buscar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    max-width: 70%;
    padding: 1%;
}

.inicio {
    margin: 35vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.destacados-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: var(--third-color);
}

.destacados{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.destacados-section a{
    color:var(--third-color);
}

.productos,
.bio,
.taller{
    padding: 20px;
}

.productos,
.contacto,
.login,
.bio{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15vh;
}

.productos {
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.contacto,
.login {
    justify-content: center;
}

.tarjeta-link {
    border: 1px solid var(--third-color);
    box-shadow: 0 0 10px var(--primary-color);
    width: 300px;
    padding: 1%;
    overflow: hidden;
}


.tarjeta {
    position: relative;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta-boton{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tarjeta img {
    width: 100%;
    height: auto;
    padding: 0 8px;
    border-radius: 5%;
}

.tarjeta h2 {
    font-size: 25px;
    margin: 0.5em;
    text-align: center;
}

.tarjeta p {
    padding: 0 1em;
    flex-grow: 1;
    margin: 5px 0;
}

.productos a,
.tarjeta a {
    color: var(--primary-color);
}

.tarjeta-reseña i {
    font-size: var(--font-size-mini);
    text-shadow: 
        1px 1px 0 var(--third-color),
        -1px -1px 0 var(--third-color),
        1px -1px 0 var(--third-color),
        -1px 1px 0 var(--third-color),
        1px 0 0 var(--third-color),
        -1px 0 0 var(--third-color),
        0 1px 0 var(--third-color),
        0 -1px 0 var(--third-color)
    ;
}

.tarjeta-link:hover,
.tarjeta-reseña:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.tarjeta-reseña {
    background-color: var(--background-alternativo);
    color:var(--third-color);
    opacity: 90%;
    width: 70%;
    height: 90%;
}

.tarjeta-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tarjeta-reseña h2 {
    font-size: 1rem;
    margin: 0.5em;
    text-align: left;
}

.tarjeta-reseña p {
    padding: 0 1em;
    margin: 5px 0;
    font-size: var(--font-size-mini);
}

.tarjeta-reseña i {
    color: var(--primary-color);
    margin-right: 0.25rem;
}

.reseñas-section-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1.5fr .5fr;
    gap: 1em;
    padding: 1%;
    justify-items: center;
}

.reseñas-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    padding: 2%;
    justify-items: center;
}

.ver-mas {
    display: flex;
    justify-content: center;
    margin: 1% 1% 3% 1%;
    width: 100%;
    gap: 5em;
}

.item-grid{
    grid-column: 1 / span 3;
    text-align: center;
}

.reseñas-section-index a,
.ver-mas a{
    color:var(--third-color);
    padding: 1%;
}

.reseñas-section-index a:hover,
.ver-mas a:hover{
    color:var(--primary-color);
    transform: scale(1.2);
}

.link:hover{
    color:var(--third-color);
}

.estrellas{
    padding: 5px;
}


.detalle-producto {
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 2%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-alternativo);
    margin: 5%;
}

.producto-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2%;
}

.producto-galeria img {
    width: 75%;
    max-width:400px;
    height: auto;
    border-radius: 5%;
}

.producto-galeria img:hover{
    transform: scale(1.2);
}

.producto-descripcion,
.producto-precio {
    font-size: var(--font-size-small);
    color:var(--third-color);
    line-height: 1.5;
    margin: 1.5% 0;
}

.producto-precio {
    font-size: var(--font-size-icono);
    font-weight: bold;
    background-color: var(--third-color);
    color: var(--primary-color);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.carrito{
    margin-bottom: 15vh;
}

.agregar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.carrito-vacio {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2%;
}

.carrito-vacio p {
    font-size: var(--font-size-small);
    color: var(--third-color);
    margin: 3% 3% 5%;
}

.carrito-vacio a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
}

.mensaje-info {
    font-size: var(--font-size-small);
    color: var(--third-color);
    margin: 4%;
}

.mensaje-confirmacion {
    display: none;
    background-color: var(--third-color);
    color: var(--primary-color);
    padding: 0.8%;
    position: fixed;
    top: 12%;
    right: 1%;
    z-index: 1000;
    border-radius: 5px;
}

.mensaje-pago {
    display: none;
    background-color: var(--primary-color);
    color: var(--third-color);
    width: 40rem;
    text-align: center;
    padding: 0.8%;
    position: fixed;
    bottom: 25%;
    left:50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 5px;
}

.detalle-carrito img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: var(--font-size-mini);
    margin-top: 0.5%;
}

.error {
    border: 2px solid red;
}

.mensaje-envio {
    color: var(--third-color);
    font-size: 1em;
    padding: 0.5%;
    border-radius: 0.5em;
    z-index: 1000;
    display: none;
}

.sin-stock {
    position: absolute;
    top: 25%;
    right: 5%;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 80%;
    display: none;
}

.sin-stock-detalle {
    position: relative;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5%;
    max-width: 18%;
    text-align: center;
    border-radius: 5px;
    opacity: 80%;
    display: none;
}

.titulo{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo{
    display: flex;
    justify-content: center;
    padding: 15px 5px 5px 5px;
    text-align: left;
    margin-bottom: 1%;
}

.subtitulo-bio{
    display: flex;
    padding: 15px 5px 5px 5px;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 1%;
}

.detalle-carrito {
    margin: 20px auto;
}

.detalle-carrito table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

.detalle-carrito th,
.detalle-carrito td {
    padding: 8px;
    text-align: left;
    text-align: center;
}

.detalle-carrito th {
    background-color: var(--primary-color);
    color: var(--third-color);
}

.botones-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 5%;
}

.texto-total { 
    text-align: right;
    margin: 2% 5%;
}

.texto-total p { 
    display: inline-block;
    margin: 0;
    padding: 1.2% 5%;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: 1.2rem;
    text-align: center;
    opacity: 70%;
}
  
.total-final button {
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.total-final button:hover {
    transform: scale(1.05);
}
  
.acciones-carrito {
    display: flex;
    gap: 8px;
}

.eliminar,
.decrementar,
.incrementar {
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    color: var(--third-color);
    font-style: bold;
    padding: 6%;
    margin: auto;
}

.carrito-cantidad {
    position: absolute;
    bottom: 60%;
    left: 95%;
    background-color: red;
    color: var(--primary-color);
    border-radius: 40%;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    text-align: center;
    display: none;
    transform: none;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    flex-direction: column;
    border: solid var(--primary-color);
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    background-color: var(--background-alternativo);
    box-shadow: 0 4px 8px var(--third-color);
    width: 75%;
    max-width: 75%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-message {
    margin-top: 10px;
    font-size: 1em;
    color: var(--third-color);
}

.contacto button:hover,
.login button:hover {
    transform: scale(1.02);
    background-color: var(--secondary-color);
}

.productos button:hover,
.destacados button:hover {
    transform: scale(1.02);
    background-color: var(--primary-color);
    color: var(--third-color);
}

.detalle-producto button:hover{
    transform: scale(1.02);
    background-color: var(--secondary-color);
    color: var(--third-color);
}

.bio{
    justify-content: center;
    display: flex; 
    flex-wrap: wrap; 
}

.bio div,
.bio2 div {
    display: flow-root;
    margin: 1rem 4rem;
    padding: 2rem;
}

.bio h2{
    margin-bottom: 2rem;
}

.bio p,
.bio2 p{
    font-size: var(--font-size-icono);
    margin-bottom: 1rem;
}

.bio2 img{
    align-self: center;
    max-width: 700px;
    width: 30%;
    margin: 0 0 1.25rem 2.5rem;
    border: solid 2px var(--primary-color);
    border-radius: 50%;
}

.img-taller-1 {
    float: right;
    max-width: 500px;
    width: 30%;
    margin: 0 0 1.25rem 2.5rem;
    border-radius: 8px;
}

.img-perfil {
    float: left;
    max-width: 400px;
    width: 70%;
    margin: 0 1.25rem 0.25rem 0;
    border-radius: 8px;
}

.imagenes-taller {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
        'b-img1 b-img2 b-img2 b-img2'
        'b-img1 b-img3 b-img3 b-img4'
        'b-img1 b-img5 b-img6 b-img6';
    grid-gap: 2rem;
    padding: 0 5rem;
}

.imagenes-taller .b-img1 {
    grid-area: b-img1;
}

.imagenes-taller.b-img2 {
    grid-area: b-img2;
}

.imagenes-taller .b-img3 {
    grid-area: b-img3;
}

.imagenes-taller .b-img4 {
    grid-area: b-img4;
}

.imagenes-taller .b-img5 {
    grid-area: b-img5;
}

.imagenes-taller .b-img6 {
    grid-area: b-img6;
}

.bio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
    border-radius: 8px;
}

.form-group.checkbox-group {
    flex-direction: row;
    align-items: center;
}

.checkbox-group label {
    font-weight: normal;
    font-style: italic;
    color: var(--third-color);
    font-size: var(--font-size-mini);
}

.footer {
    background-color: var(--background-alternativo);
    font-size: var(--font-size-mini);
    color: var(--third-color);
    margin:auto;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2%;
}

.section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 1%;
}

.footer a {
    color: var(--third-color);
    font-size: var(--font-size-icono);
}

.footer a:hover {
    color: var(--secondary-color);
}

.footer img {
    min-width: 30%;
}

.mapa {
    border: 2px solid var(--third-color);
    border-radius: 5%;
    width: 70%;
    cursor: pointer;
}

.footer p {
    font-size: var(--font-size-mini);
    color: var(--third-color);
    opacity: 0.6;
    margin-top: 1%;
    font-style: italic;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}

.footer ul li {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 3%;
}

.footer ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.copyright {
    width: 100%;
    margin-top: 0;
    padding-bottom: 1%;
}

.separador {
    margin: auto;
    color: var(--third-color);
    width: 90%;
}


